@mixin OneLineClamp() {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
@mixin TwoLineClamp() {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.wrapper__menu {
    position: absolute;
    top: 30px;
    background-color: var(--white);
    width: 100%;
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    &::before {
        position: absolute;
        width: 100%;
        height: 20px;
        background-color: transparent;
        content: '';
        top: -10px;
        right: 0;
    }
    &-item {
        height: 35px;
        min-height: 100%;
        padding: 0 15px;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 35px;
        width: 100%;
    }
}

.header {
    height: var(--header-height);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.06);
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__logo {
    width: 50px;
}
//header menu on large screens
.header__menu {
    gap: 32px;
    & > li {
        position: relative;
    }
    & > li > a {
        font-size: 1.3em;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px 0;
        position: relative;
    }
    & > li > a::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
        bottom: 10px;
        transform-origin: 50% 50%;
        transform: scale(0);
        opacity: 0;
        transition: all 0.3s;
    }
    & > li > a:hover::before {
        transform: scale(1);
        opacity: 1;
    }
}
.header__menu > li:hover > .header__subMenu {
    display: block;
}

.header__subMenu {
    top: 30px;
    left: -10px;
    display: none;
    min-width: 180px;
    & li > a {
        height: 35px;
        padding: 0 15px;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 35px;
        width: 100%;
    }
}

// header menu in small screens
#header__checkbox-show-menu:checked ~ .header__nav--onMobile {
    display: block;
    opacity: 1;
    transform: translateX(0%);
    z-index: 1000;
}
#header__checkbox-show-menu:checked ~ .header__nav--onMobile-overlay {
    display: block !important;
}
.header__nav--onMobile-menu-icon {
    font-size: 2.5rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
}
.header__nav--onMobile-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.header__nav--onMobile {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color);
    width: 300px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.6s ease;
    .header__menu {
        margin-top: 50px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        a {
            color: var(--white);
            font-size: 2rem;
            &:hover::before {
                background-color: white;
            }
        }
    }
    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        padding: 50;
        z-index: 20;
        cursor: pointer;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: white !important;
        border-radius: 50%;
        text-align: center;
        &:hover {
            background-color: var(--primary-second-color);
        }
    }
}

.header__right {
    gap: 15px;
}
// header serach
.header__search {
    width: 300px;
    height: 35px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    &:focus-within {
        border-color: var(--primary-color);
    }
    &-input {
        left: 0;
        font-size: 1.3rem;
        padding: 0 40px;
        background-color: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
    }

    &-icon {
        color: var(--primary-second-color);
        position: absolute;
        width: 35px;
        height: 100%;
        line-height: 35px;
        left: 0;
        font-size: 1.6rem;
        cursor: pointer;
    }
    &-loading,
    &-clear {
        right: 0;
        left: unset;
        color: #ccc;
    }
    &-loading {
        animation: spinner 0.6s linear infinite;
    }
    &-history {
        top: 40px;
        display: none;
    }
    &-input:focus + &-history {
        display: block;
    }
}
///header cart
.header__cart {
    position: relative;
    &:hover &-menu {
        display: block;
    }
    &-menu {
        top: 40px;
        right: -10px;
        width: 350px;
        min-width: 180px;
        max-height: 70vh;
        display: none;
        h3 {
            font-size: 2rem;
            color: var(--primary-color);
            font-weight: 500;
            padding: 10px;
        }
    }
    &-menu-hasitems {
        max-height: 70vh;
    }
    &-menu--noitems {
        img {
            width: 200px;
        }
        h3 {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--primary-color);
        }
        p {
            font-size: 1rem;
            margin-top: 5px;
            color: var(--primary-color);
        }
    }
    &-item {
        height: 70px;
        &-img {
            width: 60px;
            object-fit: cover;
        }
        &-title {
            font-size: 1.2rem;
            line-height: 1.5;
            font-weight: 500;
            color: var(--primary-color);
            @include OneLineClamp();
        }
        &-price {
            font-weight: 600;
            font-size: 1.5rem;
        }
        &-delete {
            font-size: 1.6rem;
            color: #ccc;
            &:hover {
                color: var(--primary-color);
            }
        }
    }

    &-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
    }
    &-btns {
        margin-top: 20px;
        a {
            padding: 8px 15px;
            margin: 0 10px;
            font-size: 1.2rem;
        }
    }
}

//header auth
.header__auth {
    &-menu li > a {
        height: 35px;
        padding: 0 15px;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 35px;
        width: 100%;
    }

    &__actions {
        gap: 10px;
    }

    &-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
    }

    &--no-user,
    &--has-user {
        position: relative;
        height: 100%;
    }
    &-menu {
        top: 40px;
        right: -10px;
        left: unset;
        min-width: 180px;
        display: none;
    }
    &-menu li a {
        font-weight: 500;
        i {
            width: 20px;
            font-size: 1.5rem;
            text-align: left;
            margin-right: 5px;
        }
    }

    &-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
    }

    &--has-user:hover > &-menu,
    &--no-user:hover > &-menu {
        display: block;
    }
}

.header__userAvatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
