:root {
    --primary-bg-login: rgb(63, 208, 212);
    --white-color: #ffffff;
    --text-color: #212121;
    --text-small-color: rgb(105, 104, 104);
    --header-height: 78px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body {
    overflow-y: auto;
    position: relative;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(70deg, var(--primary-color), rgb(247, 47, 170));
}
@media (min-width: 1061px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        transform: translateY(-10%);
        opacity: 0;
        transform: scaleY(0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes SlideInLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        transform: translateX(100%);
    }
}

@keyframes zoom-img {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(101%);
    }
}

@keyframes text-slide {
    0% {
        opacity: 0;
        transform: translateY(0);
        transform: scale(90%);
    }
    90% {
        opacity: 1;
        transform: translateY(-50%);
    }
    100% {
        opacity: 0;
    }
}
